:root {
  --sl-font: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

:root[data-theme="dark"] {
  --sl-color-text: var(--sl-color-gray-1);
}

/* Disable underlines for documentation links by default, enable on hover. */
.sl-markdown-content a:not(:where(.not-content *)) {
  text-decoration: none;
}
.sl-markdown-content a:hover:not(:where(.not-content *)) {
  text-decoration: underline;
}
